../../**
../**
**/.git/**
**/.vscode/**
**/.vscode-test/**
**/out/**
**/node_modules/**
**/src/**
**/.gitignore
**/.yarnrc
**/rspack.config.js
**/vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.rs
**/*.cmd
**/target/**
**/pkg/**
**/.swcrc.js
**/.swc/**
**/gulpfile.js
**/scripts/**
**/.gitpod.yml
**/__tests__/**
**/scripts/**
**/packages/**
